.header{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
 /* background-color: #1d2a3b;*/
 background-color: #05193b;
  position: fixed;
  z-index: 1000;
}

.logo-container{
  width: 60px;
  height: 60px;
  margin-inline: 10px;
}

.logo-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-container{
  width: 35px;
  height: 35px;
  margin-inline: 10px;
}

.user-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


