.search-container{
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  margin-top: 50px;
}

.search-container button{
  background-color: transparent;
  border: none;
  outline: none;
}

.search-container img{
  width: 20px;
  height: 20px;
  object-fit: cover;
  filter: invert(1);
  margin-right: 10px;
}

.search-container input {
  width: 65%;
  padding: 10px;
  border: none;
  background-color: transparent;
  outline: none;
  color: #bcc8e0;
  font-weight: bold;
}

.search-container input::placeholder{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}